*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background-color: #202124;
}

form{
    top: 50%;
    left: 50%;
    display: grid;
    position: absolute;
    transform: translate(-50%, -50%);  
    column-gap: 10px;
    row-gap: 24px;            
}

h6{
    /* position: absolute; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    position: relative;
    display: inline-block;
    padding: 12px 12px;
    float: right;

}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    text-decoration: underline;
}

.image{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

#input_field{
    color: white;
    font-size: 15px;
    height: 46px;
    /* width: 582px; */
    /* min-width: auto; */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 0.1px solid #bdc1c66b;
    border-radius: 22px;
    background-color: #202124;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 22px;
    outline: none;
}

@media screen and (max-width: 320px){
    #input_field{
        margin-left: 10%;
        margin-right: 10%;
    }
}

#input_field:hover{
    background-color: #303134;
    border: none;
    
}

#input_field::selection{
    background-color: #303134;
    border: none;

}


#search_btn1{
    color: #e8eaed;
    background-color: #303134;
    border: 2px solid #303134;

    /* width: 127px; */
    margin-left: 37%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 36px;
    border-radius: 6px;
    
}
#search_btn2{
    color: #e8eaed;
    background-color: #303134;
    /* width: 127px; */
    border: 2px solid #303134;
    margin-right: 37%;
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 6px;

}

#search_btn1:hover{
    border: 0.1px solid #bdc1c66b;
}

#search_btn2:hover{
    border: 0.1px solid #bdc1c66b;
}
